<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>KhirLina</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <style>
        /* CSS personnalisé */
        .table-actions {
            display: flex;
            gap: 10px;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="min-vh-100">
<div class="container mt-5">
    <h1 class="mb-4">Liste des Vols</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Date de Départ</th>
            <th>Date d'Arrivée</th>
            <th>Aéroport de Départ</th>
            <th>Aéroport d'Arrivée</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vol : ${vols}">
            <td th:text="${vol.id}">ID</td>
            <td th:text="${vol.dateDepart}">Date de Départ</td>
            <td th:text="${vol.dateArrive}">Date d'Arrivée</td>
            <td th:text="${vol.aeroportDepart.name}">Aéroport de Départ</td>
            <td th:text="${vol.aeroportArrive.name}">Aéroport d'Arrivée</td>
            <td>
                <div class="table-actions">
                    <a th:href="@{/user/vols/{id}(id=${vol.id})}" class="btn btn-info btn-sm">Voir</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>

</html>
