<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>BookingFlight</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content" class="min-vh-100">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Aeroport Arrive</th>
        <th scope="col">Aeroport Depart</th>
        <th scope="col">Date Arrive</th>
        <th scope="col">Date Depart</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.getVol().getAeroportArrive().getName()}"></td>
        <td th:text="${reservation.getVol().getAeroportDepart().getName()}"></td>
        <td th:text="${reservation.getVol().getDateArrive()}">@</td>
        <td th:text="${reservation.getVol().getDateDepart()}"></td>
    </tr>

    </tbody>
</table>

</div>

</body>
</html>