<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
  <meta charset="UTF-8">
  <title>BookingFlight</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <style>

    .container {
      max-width: 800px;
      margin: auto;
      background-color: white;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .about-header p {
      color: #666;
      font-size: 1.2em;
    }
    .about-section {
      margin-bottom: 20px;
    }
    .about-section h2 {
      color: #4CAF50;
    }
    .about-section p {
      color: #555;
      line-height: 1.6em;
    }
  </style>
</head>
<body>
<div layout:fragment="content" class="min-vh-100">
<div class="container">
  <div class="about-header">
    <h1>À propos de BookingFlight</h1>
    <p>Bienvenue sur BookingFlight, votre solution de gestion des vols et des réservations.</p>
  </div>
  <div class="about-section">
    <h2>Notre Mission</h2>
    <p>Notre mission est de fournir une plateforme facile à utiliser pour gérer les vols et les réservations, que ce soit pour les utilisateurs recherchant des vols ou pour les administrateurs gérant les réservations et les vols. Nous nous engageons à offrir des fonctionnalités complètes et une expérience utilisateur exceptionnelle.</p>
  </div>
  <div class="about-section">
    <h2>Fonctionnalités Clés</h2>
    <p>Avec BookingFlight, vous pouvez :</p>
    <ul>
      <li>Consulter et réserver des vols disponibles</li>
      <li>Gérer les réservations existantes</li>
      <li>Administrer les vols et les aéroports</li>
      <li>Voir les détails des utilisateurs et leurs réservations</li>
    </ul>
  </div>
</div>
</div>
</body>
</html>
