<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>KhirLina</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
<div class="container">
    <h1 class="my-4">Liste des vols</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Date de départ</th>
            <th scope="col">Date d'arrivée</th>
            <th scope="col">Aéroport de départ</th>
            <th scope="col">Aéroport d'arrivée</th>
        </tr>
        </thead>
        <tbody>
        <!-- Boucle Thymeleaf pour itérer sur les vols -->
        <tr th:each="vol : ${allVol}">
<!--            <td th:text="${#dates.format(vol.dateDepart, 'yyyy-MM-dd HH:mm')}">2021-01-01 10:00</td>-->
<!--            <td th:text="${#dates.format(vol.dateArrive, 'yyyy-MM-dd HH:mm')}">2021-01-01 12:00</td>-->
            <td>
                <span th:text="${vol.aeroportDepart.name}">Aéroport de départ</span>,
                <span th:text="${vol.aeroportDepart.vile}">Ville de départ</span>,
                <span th:text="${vol.aeroportDepart.pays}">Pays de départ</span>
            </td>
            <td>
                <span th:text="${vol.aeroportArrive.name}">Aéroport d'arrivée</span>,
                <span th:text="${vol.aeroportArrive.vile}">Ville d'arrivée</span>,
                <span th:text="${vol.aeroportArrive.pays}">Pays d'arrivée</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>

<!-- Inclure Bootstrap JS et dépendances -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
